@model Department
@{
    ViewBag.Title = "Create";
}

<div style="height:100vh" class="d-flex align-items-center justify-content-center">
    <form asp-action="create" class="d-flex flex-column align-items-center p-5 border border-3 w-25">
        <div class="mb-3 w-100">
            <label class="form-label">ID</label> <input asp-for="Id" class="form-control " />
            <span asp-validation-for="Id"></span>
        </div>
        <partial name="createEditSharedFormElements" />
    </form>

</div>

@section Scripts{
        <partial name="_ValidationScriptsPartial" />
}