@model Department

<div class="mb-3">
    <label class="form-label">Name</label> <input asp-for="Name" class="form-control w-auto" />
</div>
<div class="mb-3">
    <label class="form-label">Capacity</label> <input asp-for="Capacity" class="form-control w-auto" />
</div>
<input type="submit" class="btn btn-success w-auto" />