@model Department
@{
    ViewBag.Title = "Edit";

}

<div style="height:100vh" class="d-flex align-items-center justify-content-center">
    <form asp-action="edit" class="d-flex flex-column align-items-center p-5 border border-3 w-25">
        <input asp-for="Id" type="hidden" /> <br />
        <partial name="createEditSharedFormElements"></partial>
    </form>
</div>


@section Scripts{
        <partial name="_ValidationScriptsPartial" />
}