
@{
    Layout = "_CLayout";
    ViewBag.Title = "Home";

}

<div class="w-100 d-flex align-items-center justify-content-evenly" style="height:100vh">
    <a href="/department/index" class="btn btn-success">Departments</a>
    <a href="/student/index" class="btn btn-danger">Students</a>
</div>

